In [8]:
%config IPCompleter.greedy=True
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

numpy可想成陣列或是矩陣，簡單來說就是個高速list，速度跟c有的比
1. 提供一些方便資料篩選的方法
2. 提供向量及矩陣運算
3. 向上支援許多套件
4. 輕鬆轉換成python list
把np_sum ls np_merge分別單一打開後可以看到資料格式

In [26]:
# 玩個numpy
l = [1,2,3]
r = [4,5,6]
np_arr_left = np.array(l)
np_arr_right = np.array(r)
np_sum = np_arr_left + np_arr_right
# np_sum # 向量相加
# 還原到list
ls = np_sum.tolist()
l = l + r
np_merge = np.array(l)
#ls
#np_merge

[5, 7, 9]

Series 可以
1. 轉換list、np.array
2. 可以自行定義index名稱
3. 取值用.values　取索引用.index
4. 陣列取值比較像是dict，可透過['index名稱'] 或是　.index名稱

In [38]:
# 隨機產生序向資料，也就是陣列
# pandas的結構是由numpy所支援
series_list = Series([1,2,3])
series_numpy = Series(np_sum)
# series_numpy.values
# series_numpy.index
series_obj = Series(np.arange(7), index=['r1', 'r2','r3','r4','r5', 'r6', 'r7'])
# series_list.values
# series_obj
# series_obj['r7'] or series_obj.r7

6

二維陣列怎麼辦？
1. numpy zeros初始化陣列 可以試試看把註解拿掉
2. pandas dataframe

In [61]:
z = np.array([[1,2,3,4],[5,6,7,8]]) #tricky?
# z = np.zeros((2,6))
# z
# traverse z 2d array like in c
rows = z.shape[0]
cols = z.shape[1]
for i in range(0,rows):
    for j in range(0,cols):
        print(z[i][j], end=' ')
    print('')
df = DataFrame(z)
df

1 2 3 4
5 6 7 8

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

numpy常見操作
1. slicing: np_array['index_from':'idnex_to']
2. filtering: np_array[條件]

In [101]:
z[1:,1:3]
z[z>2]

array([3, 4, 5, 6, 7, 8])

dataframe (a.k.a. 資料庫的table) 常見操作
1. select data column
2. rename index
3. filtering: df.loc(條件)

In [127]:
df > 2
df.columns = ['a','b','c','d']
df = df.rename(columns={'a':'1st','b':'2nd','c':'3rd','d':'4th'})
df['1st']
#df[df > 2]
df.loc[df['3rd']>4]

   1st  2nd  3rd  4th
1    5    6    7    8